html,
* {
  margin: 0;
  padding: 0;
}

#pic {
  max-height: 400px;
}

.card {
  box-shadow: 0 2px 2px 0 grey;
}

#large-img {
  max-height: 500px;
  width: 100vw;
}

.small-img {
  max-height: 400px;
  max-width: 100%;
}
